@use 'var';

.details{
    padding: 80px 0;

    &--churrasco{
        background-image: linear-gradient(var.$cor1, var.$cor2);
    }

    &--musica{
        background-image: linear-gradient(var.$cor2, var.$cor3);
    }

    &--bolo{
        background-image: linear-gradient(var.$cor3, var.$cor2);
    }

    &--jogos{
        background-image: linear-gradient(var.$cor2, var.$cor1);
    }

    &--left-img{
        .container{
            flex-direction: row-reverse;
        }
    }

    .container{
        align-items: center;
        display: flex;
        gap: 16px;
    }

    &__img{
        max-width: 400px;
    }

    &__detail{
        &__title{
            font-size: 22px;
            font-weight: bold;
            margin-bottom: 16px;
        }
        &__text{
            line-height: 22px;
        }
    }

    @media (max-width:768px) {
        .container{
            display: block;
        }

        &__img{
            margin-left: auto;
            margin-right: auto;
            display: block;
            width: 100%;
        }

        &__detail{
            margin-bottom: 16px;
        }
    }
}